* {
  transition: 0.3s;
}

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #dedede;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5em;
  z-index: 4;
}
button {
  border: none;
}
footer {
  display: table;
  text-align: center;
  margin: 2em auto;
}
.button {
  background: #0cd;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  border: 1px solid #0cd;
  border-radius: 0.25em;
  cursor: pointer;
}
a.button {
  text-decoration: none;
}
.button:hover {
  background: #fff;
  color: #0cd;
}
.close {
  font-size: 0;
  cursor: pointer;
}


/* main page */

.list-books-title {
  padding: 10px 0;
  background: #0cd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.logo {
  width: 50px;
  height: 50px;
  background-image: url('./icons/logo.svg');
}
.list-books-title h1 {
  font-weight: 300;
  margin: 0 20px 0;
  color: white;
}



.book-shelf-container {
  padding: 80px 0 0;
}
.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  background: #fff;
  padding: 0 10px 20px;
  margin: 1em;
  border: 1px solid #ccc;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  font-weight: 300;
  color: #666;
  padding: 0 0 0.5em;
  text-align: center;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  transition: 0.3s;  /* do susuniecia ew */
}
.open-search:hover {
  right: 1.5rem;
  bottom: 1.5rem;
  width: 4rem;
  height: 4rem;
}
.open-search a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0cd;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  cursor: pointer;
}
.book-details-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 4.5em;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}




/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 4.5em;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  cursor: pointer;
}

/*                                */
/* -----  BOOK SEARCH PAGE  ----- */
/*                                */

.search-books-results {
  padding: 9em 0.8em 2em;
}

.no-results,
.empty-query,
.shelf-status {
  font-size: 0.9em;
  font-weight: 400;
  color: #666;
}
.empty-query {
  text-align: center;
}
.no-results,
.searching-info,
.shelf-status {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.searching-info {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}
.keyword {
  padding: 0.25em 0.5em;
  margin: 0.25em;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: #fff;
}

.searching-info li {
  text-align: left;
}


/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}



/*                              */
/* -----  BOOK COMPONENT  ----- */
/*                              */

.book {
  width: 10em;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2);
  border-radius: 0.2em;
}

/* TOP */

.book-top {
  display: flex;
  align-items: flex-end;
}

/* book cover */
.book-cover {
  background-color: #0cd;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 14em;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}



/* BOTTOM */

.book-bottom {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #dedede;
}

.book-title,
.book-authors,
.show-details {
  font-size: 0.9em;
}
.book-title {
  width: 8.5em;
  font-weight: 500;
  margin: 0.75em;
}

.book-authors,
.show-details {
  margin: 0 0.75em 0.75em;
}

.book-authors {
  color: #999;
}


/* book changer */

.book-shelf-changer {
  float: right;
  width: 1.5em;
  height: 3em;
  background: #fff;
  background-image: url('./icons/book-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 30px;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}



/*                                  */
/* -----  BOOK DETAILS POPUP  ----- */
/*                                  */



.book-details-container {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  padding: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.book-details-container h2 {
  margin-top: 0;
}
.book-details-container h4 {
  color: #666;
  font-weight: 400;
  margin-top: 0;
}
.category-tags {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.category-tags li {
  padding: 0.5em;
  background-color: #dedede;
  color: #666;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 0.25em;
}
.rating {
  display: inline-flex;
  padding: 0.5em;
  background-color: #0cd;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.25em;
}
.authors {
  margin: 1em 0;
}
.book-details-container .book-cover {
  width: 200px;
  border: 1px solid #dedede;
}
.book-details-container .book-details {
  flex: 1;
  max-width: 600px;
  margin: 0 0 0 2em;
  color: #666;
  font-size: 0.9em;
  font-weight: 300;
  text-align: left;
}
.book-details-screen .close {
  position: absolute;
  right: 0;
  margin: 0.5rem;
  background-color: #fff;
}
.book-details-screen .label {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 1em 0 0;
  text-transform: uppercase;
}

.book-details-buttons {
  font-size: 0.8em;
  margin: 2em 0
}
.book-details-buttons a {
  margin: 0 1em 0 0;
}
