@media screen and (max-width: 640px) {
  .bookshelf {
    padding: 0 10px 20px;
    margin: 1em 0;
    border-left: none;
    border-right: none;
  }
  .book-details-container {
    display: block;
  }
  .book-details-container .book-cover {
    width: calc(20vh * 0.66);
    height: 20vh;
    margin: 0 0 1em;
  }
  .book-details-container .book-details {
    margin: 0;
  }
  .app-copyright div {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .books-grid {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}
